.admin-sidebar {
  width: 250px;
  background-color: #252533;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  margin-bottom: 20px;
}

.admin-sidebar a {
  color: #cfcfe8;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.admin-sidebar a:hover {
  background-color: #3a3a56;
}

.active-link {
  background-color: #3a3a56;
}
